@using VolunteerCampaignWebsite.Models

@model ViewModel
@{
    ViewBag.Title = "Phân chia công việc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Phân chia công việc </h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- First row -->
    <div class="row">
        <!-- Participater panel -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="height:100%">
                <div class="x_title">
                    <h2>Thông tin thành viên</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" action="Phanchiacongviec" method="post" data-parsley-validate class="form-horizontal form-label-left">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="jobID">
                                Mã chiến dịch <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="campaignID" name="campaignID" required="required" class="form-control col-md-7 col-xs-12" readonly>
                                <input type="text" id="campaignIDHidden" name="campaignIDHidden" class="form-control col-md-7 col-xs-12 hidden" />
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-campaign-modal-lg">...</button>
                            <div class="modal fade bs-campaign-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Danh sách chiến dịch</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <table id="DSChiendich" class="table table-striped jambo_table" style="width:100%">
                                                    <thead>
                                                        <tr class="headings">
                                                            <th class="column-title">Mã chiến dịch</th>
                                                            <th class="column-title">Tên chiến dịch</th>
                                                            <th class="column-title">Ngày bắt đầu</th>
                                                            <th class="column-title">Thời gian</th>
                                                            <th class="column-title">Ý nghĩa</th>
                                                            <th class="column-title">Số lượng người cần</th>
                                                            <th class="column-title">Số lượng người tham gia</th>
                                                            <th class="column-title">Ngày hết hạn</th>
                                                            <th class="column-title no-link last"><span class="nobr">More info</span></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @foreach (var item in Model.CHIENDICH)
                                                        {
                                                            <tr>

                                                                <td> @Html.DisplayFor(modelItem => item.Id) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.Ten) </td>
                                                                <td> @String.Format("{0:MMMM dd, yyyy}", item.NgayBatDau) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.ThoiGian) Ngày </td>
                                                                <td> @Html.DisplayFor(modelItem => item.YNghia) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.SoLuongNguoiCan) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.SoLuongNguoiThamGia) </td>
                                                                <td> @String.Format("{0:MMMM dd, yyyy}", item.NgayHetHan) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.MoreInfo) </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 right">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Select</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="jobID">
                                Mã công việc <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="jobID" name="jobID" required="required" class="form-control col-md-7 col-xs-12" readonly>
                                <input type="text" id="jobIDHidden" name="jobIDHidden" class="form-control col-md-7 col-xs-12 hidden" />
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-job-modal-lg">...</button>
                            <div class="modal fade bs-job-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Danh sách công việc</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <table id="DSCongviec" class="table table-striped jambo_table" style="width:100%">
                                                    <thead>
                                                        <tr class="headings">

                                                            <th class="column-title hidden">Mã chiến dịch</th>
                                                            <th class="column-title">Mã công việc   </th>
                                                            <th class="column-title">Tên công việc</th>
                                                            <th class="column-title">Địa điểm</th>
                                                            <th class="column-title">Nội dung</th>
                                                            <th class="column-title">Số lượng người</th>
                                                            <th class="column-title">Ngày bắt đầu</th>
                                                            <th class="column-title">Thời gian</th>
                                                            <th class="column-title no-link last"><span class="nobr">Chi phí 1 người</span></th>

                                                        </tr>
                                                    </thead>

                                                    <tbody id="tblbody">
                                                        @foreach (var item in Model.CONGVIEC)
                                                        {
                                                            <tr>
                                                                <td class="hidden"> @Html.DisplayFor(modelItem => item.IdCD) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.Id) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.TenCV) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.DiaDiem) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.NoiDung) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.SoLuongNguoi) Người </td>
                                                                <td> @String.Format("{0:MMMM dd, yyyy}", item.NgayBatDau) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.ThoiGian) Ngày </td>
                                                                <td> @Html.DisplayFor(modelItem => item.ChiPhiMotNguoi) $</td>
                                                            </tr>
                                                        }
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 right">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Select</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="jobID">
                                Mã đội <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="teamID" name="teamID" required="required" class="form-control col-md-7 col-xs-12" readonly>
                                <input type="text" id="teamIDHidden" name="teamIDHidden" class="form-control col-md-7 col-xs-12 hidden" />
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-participater-modal-lg">...</button>
                            <div class="modal fade bs-participater-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">Danh sách đội</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <table id="DSDoi" class="table table-striped jambo_table" style="width:100%">
                                                    <thead>
                                                        <tr class="headings">
                                                            <th class="column-title hidden">Mã công việc</th>
                                                            <th class="column-title">Mã đội</th>

                                                            <th class="column-title no-link last"><span class="nobr">Số lượng người tham gia</span></th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @foreach (var item in Model.CTCONGVIEC)
                                                        {
                                                            <tr>
                                                                <td hidden> @Html.DisplayFor(modelItem => item.IdCV) </td>
                                                                <td> @Html.DisplayFor(modelItem => item.IdDoi) </td>
                                                                <td> @Html.DisplayFor(modelItem => Model.DOI.Where(n => n.Id == item.IdDoi).FirstOrDefault().SoLuongThanhVienThamGia)/@Html.DisplayFor(modelItem => Model.DOI.Where(n => n.Id == item.IdDoi).FirstOrDefault().SoLuongThanhVien)</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 right">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Select</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="campaignID">
                                Số lượng người tham gia
                            </label>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <input type="number" id="participaterjoin" name="participaterjoin" class="form-control col-md-7 col-xs-12" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="campaignID">
                                Số lượng người cần
                            </label>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <input type="number" id="participaterneed" name="participaterneed" class="form-control col-md-7 col-xs-12" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="campaignID">
                                Tên thành viên <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="participaterID" name="participaterID" required="required" class="form-control col-md-7 col-xs-12" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="campaignID">
                                Tên thành viên <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="participaterName" name="participaterName" required="required" class="form-control col-md-7 col-xs-12" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3  col-xs-12">
                                Chức vụ <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="paticipaterPosition" name="paticipaterPosition" required="required" class="form-control col-md-7 col-xs-12" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3  col-xs-12">Số điện thoại</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="participaterPhone" name="participaterPhone" class="form-control" data-inputmask="'mask' : '(999) 999-9999'" readonly>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Giới tính<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p>
                                    Nam:
                                    <input type="radio" class="flat" name="gender" id="genderM" value="M" checked="" required />
                                    Nữ:
                                    <input type="radio" class="flat" name="gender" id="genderF" value="F" />
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Ngày sinh</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class='input-group date' id='myDatepicker2'>
                                                <input type='text' id="participaterBirthday" name="participaterBirthday" class="form-control" readonly />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 right">

                                <button type="submit" class="btn btn-success" value="Add" name="submitButton" id="addBtn"> <i class="fa fa-plus"></i> Thêm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Participater panel -->
    </div>
    <!-- /First row -->
    <!-- Second row -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách người tham gia</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <table id="DSNguoithamgia" class="table table-striped jambo_table" style="width:100%">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title hidden">Mã chiến dịch</th>
                                        <th class="column-title">Mã số</th>
                                        <th class="column-title">Tên</th>
                                        <th class="column-title">Chức vụ</th>
                                        <th class="column-title">Ngày sinh</th>
                                        <th class="column-title">Giới tính</th>
                                        <th class="column-title">SĐT</th>
                                        <th class="column-title">Lớp</th>
                                        <th class="column-title">Ngày vào đoàn</th>
                                        <th class="column-title">Điểm TB</th>
                                        <th class="column-title no-link last"><span class="nobr">Khoa</span></th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.SINHVIEN)
                                    {
                                        if (!item.IdDoi.Contains('-'))
                                        {
                                            <tr>
                                                <td class="hidden"> @Html.DisplayFor(modelItem => item.IdCD) </td>
                                                <td> @Html.DisplayFor(modelItem => item.Id) </td>
                                                <td> @Html.DisplayFor(modelItem => item.Ten) </td>
                                                <td>Sinh viên</td>
                                                <td> @String.Format("{0:MMMM dd, yyyy}", item.NgaySinh) </td>
                                                <td> @Html.DisplayFor(modelItem => item.GioiTinh) </td>
                                                <td> @Html.DisplayFor(modelItem => item.SDT) </td>

                                                <td> @Html.DisplayFor(modelItem => item.Lop) </td>
                                                <td> @String.Format("{0:MMMM dd, yyyy}", item.NgayVaoDoan) </td>
                                                <td> @Html.DisplayFor(modelItem => item.DiemTB) </td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                    @foreach (var item in Model.GIANGVIEN)
                                    {
                                        if (!item.IdDoi.Contains('-'))
                                        {
                                            <tr>
                                                <td class="hidden"> @Html.DisplayFor(modelItem => item.IdCD) </td>
                                                <td> @Html.DisplayFor(modelItem => item.Id) </td>
                                                <td> @Html.DisplayFor(modelItem => item.Ten) </td>
                                                <td>Giáo viên</td>
                                                <td> @String.Format("{0:MMMM dd, yyyy}", item.NgaySinh) </td>
                                                <td> @Html.DisplayFor(modelItem => item.GioiTinh) </td>
                                                <td> @Html.DisplayFor(modelItem => item.SDT) </td>

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td> @Html.DisplayFor(modelItem => item.Khoa) </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Second row -->
</div>

@section Scripts
{
    <script type="text/javascript">

        window.onload = function () {

            var jobtable = $('#DSCongviec').DataTable();
            var participatertable = $('#DSNguoithamgia').DataTable();
            var campaigninput = document.getElementById('campaignIDHidden');

            campaigninput._value = campaigninput.value;
            Object.defineProperty(campaigninput, "value", {
                get: function () { return this._value; },
                set: function (v) {
                    this._value = v;
                    alert('Bạn chọn chiến dịch ' + this.value);
                    jobtable
                        .columns(0)
                        .search("^" + this.value + "$", true, false, true)
                        .draw();
                    participatertable
                        .columns(0)
                        .search("^" + this.value + "$", true, false, true)
                        .draw();
                    document.getElementById('campaignID').value = this.value;
                }
            });

            var teamtable = $('#DSDoi').DataTable();
            var jobinput = document.getElementById('jobIDHidden');

            jobinput._value = jobinput.value;
            Object.defineProperty(jobinput, "value", {
                get: function () { return this._value; },
                set: function (v) {
                    this._value = v;
                    alert('Bạn chọn công việc ' + this.value);
                    teamtable
                        .columns(0)
                        .search("^" + this.value + "$", true, false, true)
                        .draw();
                    document.getElementById('jobID').value = this.value;
                }
            });

            var teaminput = document.getElementById('teamIDHidden');

            teaminput._value = teaminput.value;
            Object.defineProperty(teaminput, "value", {
                get: function () { return this._value; },
                set: function (v) {
                    this._value = v;
                    alert('Bạn chọn đội ' + this.value);
                }
            });
        }
    </script>
}