@using VolunteerCampaignWebsite.Models

@model IEnumerable<VolunteerCampaignWebsite.Models.CHIENDICH>

@{
    ViewBag.Title = "Quản lý chiến dịch";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Quản lý chiến dịch</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <!-- First row -->
    <div class="row">
        <!-- Campaign information -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="height:100%">
                <div class="x_title">
                    <h2>Thông tin chiến dịch</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form id="demo-form2" action="QLChiendich" method="post" data-parsley-validate class="form-horizontal form-label-left">
                        @Html.AntiForgeryToken()
                        @ViewBag.Meaning
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="campaignID">
                                Mã chiến dịch <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="campaignID" name="campaignID" required="required" class="form-control col-md-7 col-xs-12" onchange="checkValues()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="campaignName">
                                Tên chiến dịch <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="campaignName" name="campaignName" required="required" class="form-control col-md-7 col-xs-12" onchange="checkValues()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="campaignUptime" class="control-label col-md-3 col-sm-3 col-xs-12">Thởi gian hoạt động</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="input-prepend input-group">
                                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                <input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" value="01/01/2016 - 01/25/2016" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3  col-xs-12">Ý nghĩa</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="campaignMeaning" name="campaignMeaning" class="form-control col-md-7 col-xs-12"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Số lượng người cần <span class="required">*</span>
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="number" id="campaignPneeded" name="campaignPneeded" class="form-control col-md-7 col-xs-12" required="required" onchange="checkValues()" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Số lượng người tham gia<span class="required">*</span>
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="number" izd="campaignPjoined" name="campaignPjoined" class="form-control col-md-3 col-xs-12" required="required" readonly="readonly" value="0" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3  col-xs-12">More info</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="campaignMoreinfo" name="campaignMoreinfo" class="form-control col-md-7 col-xs-12"></textarea>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 right">
                                <button class="btn btn-primary " type="submit" value="Delete" name="submitButton" id="deleteBtn"> <i class="fa fa-trash-o"></i> Xóa</button>
                                <button class="btn btn-primary " type="submit" value="Edit" name="submitButton" id="editBtn"> <i class="fa fa-edit"></i> Sửa</button>
                                <button type="submit" class="btn btn-success" value="Add" name="submitButton" id="addBtn"> <i class="fa fa-plus"></i> Thêm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Campaign information -->
        <!-- Actions panel -->
        <!-- /Action panel -->
    </div>
    <!-- /First row -->
    <!-- Second row -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách chiến dịch</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="DSChiendich" class="table table-striped jambo_table bulk-action" style="width:100%">
                        <thead>
                            <tr class="headings">

                                <th class="column-title">Mã chiến dịch</th>
                                <th class="column-title">Tên chiến dịch</th>
                                <th class="column-title">Ngày bắt đầu</th>
                                <th class="column-title">Thời gian</th>
                                <th class="column-title">Ý nghĩa</th>
                                <th class="column-title">Số lượng người cần</th>
                                <th class="column-title">Số lượng người tham gia</th>
                                <th class="column-title">Ngày hết hạn</th>
                                <th class="column-title no-link last"><span class="nobr">More info</span></th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td> @Html.DisplayFor(modelItem => item.Id) </td>
                                    <td> @Html.DisplayFor(modelItem => item.Ten) </td>
                                    <td> @String.Format("{0:MMMM dd, yyyy}", item.NgayBatDau) </td>
                                    <td> @Html.DisplayFor(modelItem => item.ThoiGian) Ngày </td>
                                    <td> @Html.DisplayFor(modelItem => item.YNghia) </td>
                                    <td> @Html.DisplayFor(modelItem => item.SoLuongNguoiCan) </td>
                                    <td> @Html.DisplayFor(modelItem => item.SoLuongNguoiThamGia) </td>
                                    <td> @String.Format("{0:MMMM dd, yyyy}", item.NgayHetHan) </td>
                                    <td> @Html.DisplayFor(modelItem => item.MoreInfo) </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Second row -->
    <!-- Third row -->
    <!-- /Third row -->
</div>

@section Scripts
{
    <script type="text/javascript">
        function checkValues() {
            var id = document.getElementById("campaignID");
            var name = document.getElementById("campaignName");
            var pneed = document.getElementById("campaignPneeded");
            if (id.value == "" || name.value == "" || pneed.value == "") {
                document.getElementById("deleteBtn").classList.add("disabled");
                document.getElementById("editBtn").classList.add("disabled");
            }
            else {
                document.getElementById("deleteBtn").classList.remove("disabled");
                document.getElementById("editBtn").classList.remove("disabled");
            }
            var test;

        }

    </script>
}


