@using VolunteerCampaignWebsite.Models

@model VolunteerCampaignWebsite.Models.NHANVIEN
@{
    ViewBag.Title = "Sửa thông tin cá nhân";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Sửa đổi thông tin cá nhân</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <!-- First row -->
    <div class="row">
        <!-- Employee information -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thông tin nhân viên</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="Suathongtincanhan" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group hidden">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="employeeID">
                                Mã chức vụ
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="employeeID" name="employeeID" class="form-control col-md-7 col-xs-12" value="@Model.Id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="employeeName">
                                Họ tên <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="employeeName" name="employeeName" required="required" class="form-control col-md-7 col-xs-12" placeholder="@Model.Ten">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="employeeMail">
                                Email <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" id="employeeMail" name="employeeMail" required="required" class="form-control col-md-7 col-xs-12" placeholder="@Model.Mail" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="employeeSDT">
                                SDT <span class="required">*</span>
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <input type="tel" id="employeeSDT" name="employeeSDT" required="required" class="form-control col-md-7 col-xs-12" placeholder="@Model.SDT" data-inputmask="'mask' : '(999) 999-9999'" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="employeeUsername">
                                Tên đăng nhập <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="tel" id="employeeUsername" name="employeeUsername" required="required" class="form-control col-md-7 col-xs-12" placeholder="@Model.UserName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="employeeOldPwrd">
                                Mật khẩu cũ <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" id="employeeOldPwrd" name="employeeOldPwrd" required="required" class="form-control col-md-7 col-xs-12" />
                            </div>
                            @ViewBag.Passworderror
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="employeeNewPwrd">
                                Mật khẩu mới <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" id="employeeNewPwrd" name="employeeNewPwrd" required="required" class="form-control col-md-7 col-xs-12" />
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 right">
                                <button class="btn btn-primary " type="submit" value="Edit" name="submitButton" id="editBtn"> <i class="fa fa-edit"></i> Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /Employee information -->
        <!-- Actions panel -->
        <!-- /Action panel -->
    </div>
    <!-- /First row -->

</div>

